<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee9421f2-c62d-44ad-a754-e11384b7a958" Alias="globalPageNavigationConfigSettingForHomePage" Level="3">
  <Info>
    <Name>Global - Page Navigation Config Setting for Home Page</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>be4a362f-d7d9-4563-bbce-4092933138ad</Key>
      <Name>Page Not Found</Name>
      <Alias>pageNotFound</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/navigationConfig">Navigation Config</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3f109603-4358-49d7-a12f-29c1ad378c85</Key>
      <Caption>Navigation &amp; Sitemap</Caption>
      <Alias>navigation&amp;Sitemap</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dbd250e1-8b93-4557-82d1-36fafb9777bd</Key>
      <Caption>Navigation Config</Caption>
      <Alias>navigation&amp;Sitemap/navigationConfig</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>