<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e96d225-9a72-4b82-b9be-1a5c2102f5a2" Alias="globalPageHeadSocialMetaSetting" Level="3">
  <Info>
    <Name>Global - Page Head Social Meta Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e516705-41b1-4cd9-be6c-afd92f025e79</Key>
      <Name>Facebook App ID</Name>
      <Alias>facebookAppId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4bacf8a1-f59a-4699-afc9-31be87e2872d</Key>
      <Name>Description</Name>
      <Alias>ogDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58c4b9ee-fb74-4991-b89c-a359b45874dc</Key>
      <Name>Image</Name>
      <Alias>ogImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The URL of the image that appears when someone shares the content to Facebook.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ccaa017-dd8f-4783-99b1-2f048f3127f2</Key>
      <Name>Title</Name>
      <Alias>ogTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of your article without any branding such as your site name.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97354448-37ff-40ea-9c44-edb4120ff464</Key>
      <Name>Type</Name>
      <Alias>ogType</Alias>
      <Definition>3103fccf-2496-4863-a2a0-d38ba828c34d</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The type of media of your content. This tag impacts how your content shows up in News Feed. If you don't specify a type,the default is website. Each URL should be a single object, so multiple og:type values are not possible.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>267b151e-545f-4538-a63d-6d9f9b3f986c</Key>
      <Name>Card Type</Name>
      <Alias>twitterCardType</Alias>
      <Definition>9cb791b2-b2a7-4683-88f9-c1931678ba77</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the twitter card type you need to use.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa7c2dab-99fa-418d-b2c2-fcf7034c5922</Key>
      <Name>Description</Name>
      <Alias>twitterDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A description that concisely summarizes the content as appropriate for presentation within a Tweet. You should not re-use the title as the description or use this field to describe the general services provided by the website.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2158e256-dae3-4235-8216-7f50670a289f</Key>
      <Name>Image</Name>
      <Alias>twitterImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A URL to a unique image representing the content of the page. You should not use a generic image such as your website logo, author photo, or other image that spans multiple pages. Images for this Card support an aspect ratio of 2:1 with minimum dimensions of 300x157 or maximum of 4096x4096 pixels. Images must be less than 5MB in size. JPG, PNG, WEBP and GIF formats are supported. Only the first frame of an animated GIF will be used. SVG is not supported.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24654b8d-aba0-4173-8c32-b82d9cd5fd06</Key>
      <Name>Image Alt</Name>
      <Alias>twitterImageAlt</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2526615a-03d0-4d3a-8672-b72e061367d8</Key>
      <Name>Site</Name>
      <Alias>twitterSite</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Twitter @username the card should be attributed to.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b0ce6a9-b862-4afb-b45c-71a844447cd3</Key>
      <Name>Title</Name>
      <Alias>twitterTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A concise title for the related content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ddf6866-a783-4983-861e-518d2154a55f</Key>
      <Caption>Head &amp; Social Meta Tags</Caption>
      <Alias>head&amp;SocialMetaTags</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d0c8ebc5-478d-46dc-8294-307850bb5135</Key>
      <Caption>Facebook Open Graph Meta Tags</Caption>
      <Alias>head&amp;SocialMetaTags/facebookOpenGraphMetaTags</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f7ceec1f-edf4-4ab8-bc0f-a59fcfb09ee8</Key>
      <Caption>Twitter Cards</Caption>
      <Alias>head&amp;SocialMetaTags/twitterCards</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>