<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b3f8f801-a9e3-4b2f-aad2-7f6ddff7c545" Alias="globalResponsiveImageSettings" Level="3">
  <Info>
    <Name>Global - Responsive Image Settings</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>66b4ef4f-4166-4bc4-be45-0535c4799f09</Key>
      <Name>Extend Sizes SrcSet</Name>
      <Alias>repImgExtendSizesSrcSet</Alias>
      <Definition>e6254e58-4619-4649-b462-2fab60cf293b</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional dimensions used for the img tag's srcset data
If not entered, default will only take 3 sizes for srcset]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="responsiveImage/sizeImage">Size Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f8c74b4-8518-4f52-a710-9c44066d5805</Key>
      <Name>Max Width Desktop (px)</Name>
      <Alias>repImgMaxWidthDesktop</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default: 1920px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="responsiveImage/sizeImage">Size Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b48860b-5894-460c-bfc2-5cbee52ea40c</Key>
      <Name>Max Width Mobile (px)</Name>
      <Alias>repImgMaxWidthMobile</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default: 768px]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="responsiveImage/sizeImage">Size Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21cd16a4-967a-4b21-ae36-d4273beb04e3</Key>
      <Name>Max Width Table (px)</Name>
      <Alias>repImgMaxWidthTable</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Default: 1024px]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="responsiveImage/sizeImage">Size Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d004ce9-f658-4724-a8c4-13d175bee3e0</Key>
      <Name>Turn Off Responsive Image</Name>
      <Alias>repImgTurnOffResponsiveImage</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on: Image url links will be resized and converted to .webp format.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="responsiveImage/config">Config</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>201738d5-3eec-43f9-bb88-8a87a89f59b9</Key>
      <Caption>Responsive Image</Caption>
      <Alias>responsiveImage</Alias>
      <Type>Tab</Type>
      <SortOrder>97</SortOrder>
    </Tab>
    <Tab>
      <Key>6bc47b8e-c90a-4654-b0fc-d385f54159ee</Key>
      <Caption>Config</Caption>
      <Alias>responsiveImage/config</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e524a933-02a9-4980-b04d-9060e6d1ac22</Key>
      <Caption>Size Image</Caption>
      <Alias>responsiveImage/sizeImage</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>