<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fdc4fc7-baf3-4723-ad05-442e4466aa98" Alias="globalPageSitemapSetting" Level="3">
  <Info>
    <Name>Global - Page Sitemap Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8e001952-3bce-4011-b1ae-01cc5baee4ed</Key>
      <Name>Hidden Sitemap</Name>
      <Alias>sitemapHiddenSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add a 'noindex' meta tag to your page which stops it being indexed by search engines. This will also exclude this page from your sitemap.xml]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d034b820-36fd-4e43-81dd-94b1edd01f7d</Key>
      <Name>Hidden their children</Name>
      <Alias>sitemapHiddenTheirChildren</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will also exclude all page children from your sitemap.xml]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53cf5dd3-a0e9-4f0a-ad03-c968ca1ae101</Key>
      <Name>Stop internal links being followed</Name>
      <Alias>sitemapStopInternalLinksBeingFollowed</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add a 'nofollow' meta tag to your page which prevents search engine spiders from following links on this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dfe4c647-815c-4615-8bcd-b531dbad58e4</Key>
      <Name>Sitemap XML change frequency</Name>
      <Alias>sitemapXmlChangeFrequency</Alias>
      <Definition>7bccb3b4-92ed-4e9d-bb8a-3e6f2131af42</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9c0e8dd-1535-41e7-94d2-c6c2cd3953e5</Key>
      <Name>Sitemap XML Priority</Name>
      <Alias>sitemapXmlPriority</Alias>
      <Definition>35649ae2-82d9-4edb-8eb2-9b1c8f142038</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Value between: 0-1
BUT IF THE VALUE IS A NUMBER <0 IT WILL AUTOMATICALLY NUMBER BY LEVEL]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/sitemap">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>83b4a7a4-3d1e-4c71-97ac-267144b4545f</Key>
      <Caption>Navigation &amp; Sitemap</Caption>
      <Alias>navigation&amp;Sitemap</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
    <Tab>
      <Key>9fb29f38-8469-41a4-817b-95d0fa0cdbaf</Key>
      <Caption>Sitemap</Caption>
      <Alias>navigation&amp;Sitemap/sitemap</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>