<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f7ae751-1b30-4f0c-9a67-410c95714333" Alias="globalPageHeadMetaSetting" Level="3">
  <Info>
    <Name>Global - Page Head Meta Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94cd092f-cb41-4861-9d84-40ed555f107d</Key>
      <Name>Keywords</Name>
      <Alias>headKeywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Type to add tags (press ENTER after each tag)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/headMetaTags">Head Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59a4816d-36fa-4165-83ec-c973e6ff19ab</Key>
      <Name>Social Share Image</Name>
      <Alias>headSocialShareImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image used when someone shares the page on social media, such as, Twitter or Facebook.
We suggest that you use an image of at least 1200x630 pixels.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/headMetaTags">Head Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c0d843e-42e7-4d3f-8856-dce616f1f085</Key>
      <Name>Title and Description</Name>
      <Alias>headTitleAndDescription</Alias>
      <Definition>f93182fb-be0b-4d80-90dd-6629a4cd4cef</Definition>
      <Type>EnkelMedia.SeoVisualizer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a preview of how your page may appear in search engines.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="head&amp;SocialMetaTags/headMetaTags">Head Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c28dfc82-9778-46f6-b937-e43aeb79485f</Key>
      <Caption>Head Meta Tags</Caption>
      <Alias>head&amp;SocialMetaTags/headMetaTags</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d8a327f5-e767-4e81-a697-a8412fa80b80</Key>
      <Caption>Head &amp; Social Meta Tags</Caption>
      <Alias>head&amp;SocialMetaTags</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>