<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f224f02e-77b1-434b-8027-71c8fed04196" Alias="globalFolderSites" Level="3">
  <Info>
    <Name>Global - Folder Sites</Name>
    <Icon>icon-ethernet color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Folder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1545ab63-fcc5-4e03-a033-332fe567505e" SortOrder="0">uTPro__PageHome</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b7dd6937-9e45-44a4-a2d2-0bb21bf942f9</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>f93182fb-be0b-4d80-90dd-6629a4cd4cef</Definition>
      <Type>EnkelMedia.SeoVisualizer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="config">Config</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2958dd69-bf71-47a3-b0d9-9a5c75c5c169</Key>
      <Caption>Config</Caption>
      <Alias>config</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>