<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7febd0cb-e813-450b-a90e-e0251c420925" Alias="globalSitemapRobotsSettings" Level="3">
  <Info>
    <Name>Global - Sitemap &amp; Robots Settings</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54671bf0-9a09-46b6-9a48-d9ff30f95730</Key>
      <Name>Content</Name>
      <Alias>robotstxtContent</Alias>
      <Definition>f0fec1bc-2ed6-46f1-9d9c-ec9b711d6889</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemap&amp;Robots/robots.txt">Robots.txt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de9f54b2-11cc-494c-9b89-bf40631dab4f</Key>
      <Name>Ignored Document Types</Name>
      <Alias>sitemapIgnoredDocumentTypes</Alias>
      <Definition>e6254e58-4619-4649-b462-2fab60cf293b</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content based on these document types will be ignored on the sitemap use alias of the document types]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemap&amp;Robots/sitemap.xml">Sitemap.xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e46f2b2-30e3-48b9-a9ae-4587593e6b95</Key>
      <Name>Max Sitemap Depth</Name>
      <Alias>sitemapMaxSitemapDepth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Limit the number of items retrieved in the sitemap]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sitemap&amp;Robots/sitemap.xml">Sitemap.xml</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7cea4670-e921-4827-8c52-77805d5833c6</Key>
      <Caption>Robots.txt</Caption>
      <Alias>sitemap&amp;Robots/robots.txt</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>81b4ea92-5e68-437e-be9a-e9853ac1bb1e</Key>
      <Caption>Sitemap.xml</Caption>
      <Alias>sitemap&amp;Robots/sitemap.xml</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>833c76a9-8ed7-43bd-8613-bc7fa49552f9</Key>
      <Caption>Sitemap &amp; Robots</Caption>
      <Alias>sitemap&amp;Robots</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>