<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46c5c1cc-3b28-4b7a-81ca-4b7976345557" Alias="globalRoot" Level="3">
  <Info>
    <Name>Global - Root</Name>
    <Icon>icon-globe color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Folder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f224f02e-77b1-434b-8027-71c8fed04196" SortOrder="0">globalFolderSites</ContentType>
    <ContentType Key="20101920-f3e0-4bff-91af-8fcce37a6269" SortOrder="1">globalFolderSettings</ContentType>
    <ContentType Key="b4815179-c140-405e-a1c5-1504fdae345c" SortOrder="2">globalFolderArchives</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>