<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="145d320d-c586-4a79-84f2-795472047ada" Alias="globalPageScriptSetting" Level="3">
  <Info>
    <Name>Global - Page Script Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb3d0207-93db-4895-bef2-8c1f676716b1</Key>
      <Name>Body closing scripts</Name>
      <Alias>bodyClosingScripts</Alias>
      <Definition>3476790f-ca47-4036-b6c3-e4372d09befd</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed before the closing </body> tag on this page of your website.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb6256db-118b-427d-baef-d237bede2b9f</Key>
      <Name>Body opening scripts</Name>
      <Alias>bodyOpeningScripts</Alias>
      <Definition>3476790f-ca47-4036-b6c3-e4372d09befd</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed after the opening <body> tag on this page of your website.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c80bc95-fd77-4aa0-807b-13d73e112167</Key>
      <Name>Header closing scripts</Name>
      <Alias>headerClosingScripts</Alias>
      <Definition>3476790f-ca47-4036-b6c3-e4372d09befd</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed before the closing </head> tag on this page of your website.
]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0cc91033-891a-4425-a8fd-cb8196e79459</Key>
      <Name>Header opening scripts</Name>
      <Alias>headerOpeningScripts</Alias>
      <Definition>3476790f-ca47-4036-b6c3-e4372d09befd</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed after the opening <head> tag on this page of your website.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>61b007e4-d3df-45de-a7a9-d2cee4dd5f2a</Key>
      <Caption>Scripts</Caption>
      <Alias>scripts</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>