<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89d20307-ae30-47ea-b21d-4639c93a8d55" Alias="globalPageNavigationSetting" Level="3">
  <Info>
    <Name>Global - Page Navigation Setting</Name>
    <Icon>icon-document-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+-+Common/Global+-+Common+%7c+Inherited+Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09c3b3cd-fc8c-419f-870d-c1688465082b</Key>
      <Name>Content Redirect</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use when you want to serve content from another node without affecting the visible URL.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/navigationUrlPage">Navigation Url Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afe9c40d-2a61-49aa-8381-20cbe56635ce</Key>
      <Name>Url Redirect</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use when you want users and search engines to be redirected to a different URL (302 temporary redirect).

]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/navigationUrlPage">Navigation Url Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64e4e207-dc80-47d5-a168-d016639183b6</Key>
      <Name>Alternative URL</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this field to provide multiple URLs for your page.
Please note that the values you use must be lowercase, not use a leading slash and not use a file extension.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/navigationUrlPage">Navigation Url Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06bdbeb2-f4a3-4c73-b5ed-5ee1bcc719cc</Key>
      <Name>Alternative name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this field to set an alternative name for your page. This will override the default node name that is used as the URL of this page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation&amp;Sitemap/navigationUrlPage">Navigation Url Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5ec985d5-f6c8-44c8-8a05-da8791ba90d1</Key>
      <Caption>Navigation &amp; Sitemap</Caption>
      <Alias>navigation&amp;Sitemap</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
    <Tab>
      <Key>e304d9df-32b9-43ab-91a3-609b60b483b0</Key>
      <Caption>Navigation Url Page</Caption>
      <Alias>navigation&amp;Sitemap/navigationUrlPage</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>