<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1545ab63-fcc5-4e03-a033-332fe567505e" Alias="uTPro__PageHome" Level="3">
  <Info>
    <Name>Page Home</Name>
    <Icon>icon-home color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>uTPro+-+Site/uTPro+%7c+Page</Folder>
    <Compositions>
      <Composition Key="3f7ae751-1b30-4f0c-9a67-410c95714333">globalPageHeadMetaSetting</Composition>
      <Composition Key="2e96d225-9a72-4b82-b9be-1a5c2102f5a2">globalPageHeadSocialMetaSetting</Composition>
      <Composition Key="ee9421f2-c62d-44ad-a754-e11384b7a958">globalPageNavigationConfigSettingForHomePage</Composition>
      <Composition Key="89d20307-ae30-47ea-b21d-4639c93a8d55">globalPageNavigationSetting</Composition>
      <Composition Key="145d320d-c586-4a79-84f2-795472047ada">globalPageScriptSetting</Composition>
      <Composition Key="7fdc4fc7-baf3-4723-ad05-442e4466aa98">globalPageSitemapSetting</Composition>
    </Compositions>
    <DefaultTemplate>globalLayout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fca76d45-f5da-4016-a7f2-ee662336060d" SortOrder="0">globalPageError</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>0ba33722-76d3-441b-ab81-d1f117cdcb9a</Key>
      <Caption>Head &amp; Social Meta Tags</Caption>
      <Alias>head&amp;SocialMetaTags</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>