<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3476790f-ca47-4036-b6c3-e4372d09befd" Alias="Code Editor For HTML" Level="3">
  <Info>
    <Name>Code Editor For HTML</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>uTPro/Code+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "height": 200,
  "language": [
    "html"
  ],
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": true
}]]></Config>
</DataType>