<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0fec1bc-2ed6-46f1-9d9c-ec9b711d6889" Alias="Code Editor For Markdown" Level="3">
  <Info>
    <Name>Code Editor For Markdown</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>uTPro/Code+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "height": 200,
  "language": [
    "markdown"
  ],
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": true
}]]></Config>
</DataType>