<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fae409d2-f1d7-4842-b761-bcadc969c30a" Alias="Code Editor For JS" Level="3">
  <Info>
    <Name>Code Editor For JS</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>uTPro/Code+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "height": 200,
  "language": "javascript",
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": true
}]]></Config>
</DataType>