<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6254e58-4619-4649-b462-2fab60cf293b" Alias="Multiple Text String" Level="3">
  <Info>
    <Name>Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>uTPro/System+Default</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>