<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f93182fb-be0b-4d80-90dd-6629a4cd4cef" Alias="Seo Visualizer" Level="2">
  <Info>
    <Name>Seo Visualizer</Name>
    <EditorAlias>EnkelMedia.SeoVisualizer</EditorAlias>
    <EditorUIAlias>EnkelMedia.SeoVisualizer.PropertyEditorUi</EditorUIAlias>
    <Folder>uTPro</Folder>
  </Info>
  <Config><![CDATA[{
  "maxCharsDescription": 160,
  "maxCharsTitle": 60,
  "useNoIndex": false
}]]></Config>
</DataType>