<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7bccb3b4-92ed-4e9d-bb8a-3e6f2131af42" Alias="Sitemap XML change frequency" Level="3">
  <Info>
    <Name>Sitemap XML change frequency</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>uTPro/Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Always",
    "Hourly",
    "Daily",
    "Weekly",
    "Monthly",
    "Yearly",
    "Never"
  ]
}]]></Config>
</DataType>