<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35649ae2-82d9-4edb-8eb2-9b1c8f142038" Alias="Sitemap XML Priority" Level="3">
  <Info>
    <Name>Sitemap XML Priority</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
    <Folder>uTPro/Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "initVal1": -0.1,
  "maxVal": 1,
  "minVal": -0.1,
  "step": 0.1
}]]></Config>
</DataType>