<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3103fccf-2496-4863-a2a0-d38ba828c34d" Alias="Social OG Type" Level="3">
  <Info>
    <Name>Social OG Type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>uTPro/Social+Meta+Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "website",
    "article",
    "business.business",
    "place",
    "product",
    "product.group",
    "product.item",
    "profile",
    "video.other"
  ]
}]]></Config>
</DataType>