<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cb791b2-b2a7-4683-88f9-c1931678ba77" Alias="Social Twitter Type" Level="3">
  <Info>
    <Name>Social Twitter Type</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>uTPro/Social+Meta+Tags</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "summary",
    "summary_large_image"
  ]
}]]></Config>
</DataType>