@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Microsoft.Extensions.Options
@using Umbraco.Cms.Core.Configuration.Models
@using Umbraco.Cms.Core.Hosting
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject IHostingEnvironment hostingEnvironment
@inject IOptions<GlobalSettings> globalSettings
@{
    var seo = Model?.Value<SeoVisualizer.SeoValues>(nameof(GlobalPageHeadMetaSetting.HeadTitleAndDescription));

    var titlePage = seo?.Title ?? (string?)Context.Items["titlePage"] ?? "Page Not Found";
    var logo = Model?.Value<string>(nameof(GlobalSiteSettings.SiteSettingsLogo)) ?? "/App_Plugins/assets/img/logo.svg";
    var title = (string?)Context.Items["title"];
    var message = seo?.Description ?? (string?)Context.Items["message"] ?? string.Empty;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@titlePage</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
            margin: auto;
        }

        .bg-image {
            position: absolute;
            bottom: -88%;
        }

        .container {
            width: 100%;
            height: 100vh;
            margin: auto;
            background-image: url(/App_Plugins/assets/img/bkg-login.jpg);
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

            .container > div {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                background-color: rgba(36, 38, 40, .5);
            }

        h3 {
            text-align: center;
            color: #ff9e40;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            margin: 0;
            line-height: 36px;
        }

        .header {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            font-style: normal;
        }

            .header > h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 150%;
                display: flex;
                align-items: center;
                text-align: center;
                color: #ff9e40;
            }

            .header > p {
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
                text-align: center;
                color: #ffffff;
                flex-grow: 0;
                margin: 16px 0px;
            }

        a {
            color: #ffffff;
        }

        .options {
            display: flex;
            flex-direction: row;
        }

            .options > a {
                color: #ffffff;
                text-decoration: underline;
                margin: 0px 8px;
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
            }

                .options > a:first-of-type {
                    margin-right: 30px;
                }

        .logo > img {
            width: 90px;
            height: 90px;
        }

        .learn-more {
            vertical-align: middle;
            text-align: center;
        }

            .learn-more > a:first-child {
                font-size: 0
            }

            .learn-more > a > button {
                background: #f6821f;
                border-radius: 4px;
                border: none;
                width: 185px;
                margin-top: 78px;
                height: 55px;
                color: #000;
                text-align: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                background: rgba(246, 130, 31, 1);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

        @@media screen and (max-width: 600px) {
            .container {
                background-position-x: -15rem;
            }

            pre {
                font-size: 0.8rem;
                padding: 8px 12px;
                width: 100%;
            }

            body {
                width: 100vw;
            }

            .header img {
                margin-left: 0;
            }

            .installation-steps {
                width: 100%;
                box-sizing: border-box;
            }

            h1 {
                font-size: 1.6rem;
            }

            ol {
                padding-left: 20px;
            }

            li {
                margin-bottom: 5px;
            }
        }
    </style>
</head>
<body>
    <main class="container">
        <div>
            <section class="header">
                <div class="logo">
                    <a href="/" target="_blank">
                        <img src="@logo" alt="T4VN" width="100" height="100" />
                    </a>
                </div>
                <h1>@title</h1>
                <p>
                    @if (!message.IsNullOrWhiteSpace())
                    {
                        @message
                    }
                </p>
            </section>
            @* 
            <section class="learn-more">
                <a class="button" href="https://t4vn.com">
                    <button>Website</button>
                </a>
                &nbsp;
                <a class="button" href="mailto:webmaster@t4vn.com">
                    <button>Contact</button>
                </a>
            </section> *@
        </div>
    </main>
</body>
</html>