<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d7b1e83-24d8-45a9-b8b2-7ed0b571a8cf" Alias="Archives" Level="2">
  <Info>
    <Parent Key="c24dd63e-d650-46ab-bb34-0554df38aed9">uTPro</Parent>
    <Path>/uTPro/Archives</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderArchives</ContentType>
    <CreateDate>2025-02-25T14:17:47</CreateDate>
    <NodeName Default="Archives" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>