<?xml version="1.0" encoding="utf-8"?>
<Content Key="e66fe060-d2c6-4853-bfa5-91312da13d60" Alias="Error Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>globalPageError</ContentType>
    <CreateDate>2025-02-27T09:33:55</CreateDate>
    <NodeName Default="Error Page">
      <Name Culture="en-US">Error Page</Name>
      <Name Culture="vi-VN">Error Page</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="a018b6ca-93e9-4555-8b8e-adf16eebb567">globalPageError</Template>
  </Info>
  <Properties>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Error Page"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Error Page"
}]]></Value>
    </headTitleAndDescription>
    <sitemapHiddenSitemap>
      <Value><![CDATA[]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[]]></Value>
    </sitemapXmlPriority>
  </Properties>
</Content>