<?xml version="1.0" encoding="utf-8"?>
<Content Key="af44e48f-d3d6-4cbf-a574-16be8973551c" Alias="Home" Level="3">
  <Info>
    <Parent Key="3b95e2c2-4845-4c0a-a702-322c484326c1">Sites</Parent>
    <Path>/uTPro/Sites/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>uTPro__PageHome</ContentType>
    <CreateDate>2025-07-11T14:09:13</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-US">Home</Name>
      <Name Culture="vi-VN">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc86c81e-57b2-4341-b65f-8a75ccfe60c2">globalLayout</Template>
  </Info>
  <Properties>
    <bodyClosingScripts>
      <Value><![CDATA[]]></Value>
    </bodyClosingScripts>
    <bodyOpeningScripts>
      <Value><![CDATA[]]></Value>
    </bodyOpeningScripts>
    <facebookAppId>
      <Value><![CDATA[]]></Value>
    </facebookAppId>
    <headerClosingScripts>
      <Value><![CDATA[]]></Value>
    </headerClosingScripts>
    <headerOpeningScripts>
      <Value><![CDATA[]]></Value>
    </headerOpeningScripts>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[[
  "uTPro",
  "T4VN"
]]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "Home Page",
  "title": "Home Page"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "uTPro gi\u00FAp b\u1EA1n t\u1EA1o website nhanh ch\u00F3ng, d\u1EC5 d\u00E0ng v\u1EDBi n\u1EC1n t\u1EA3ng m\u00E3 ngu\u1ED3n m\u1EDF linh ho\u1EA1t v\u00E0 t\u1ED1i \u01B0u cho m\u1ECDi nhu c\u1EA7u kinh doanh",
  "title": "Trang ch\u1EE7"
}]]></Value>
    </headTitleAndDescription>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageNotFound>
      <Value><![CDATA[umb://document/4a67e7b56a324381b1a8a9439b71eac9]]></Value>
    </pageNotFound>
    <sitemapHiddenSitemap>
      <Value><![CDATA[]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[]]></Value>
    </sitemapXmlPriority>
    <twitterCardType>
      <Value><![CDATA[]]></Value>
    </twitterCardType>
    <twitterDescription>
      <Value><![CDATA[]]></Value>
    </twitterDescription>
    <twitterImage>
      <Value><![CDATA[]]></Value>
    </twitterImage>
    <twitterImageAlt>
      <Value><![CDATA[]]></Value>
    </twitterImageAlt>
    <twitterSite>
      <Value><![CDATA[]]></Value>
    </twitterSite>
    <twitterTitle>
      <Value><![CDATA[]]></Value>
    </twitterTitle>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>