<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a67e7b5-6a32-4381-b1a8-a9439b71eac9" Alias="Page Not found" Level="4">
  <Info>
    <Parent Key="af44e48f-d3d6-4cbf-a574-16be8973551c">Home</Parent>
    <Path>/uTPro/Sites/Home/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>globalPageError</ContentType>
    <CreateDate>2025-07-17T17:02:01</CreateDate>
    <NodeName Default="Page Not found">
      <Name Culture="en-US">Page Not Found</Name>
      <Name Culture="vi-VN">Page Not found</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headKeywords>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="vi-VN"><![CDATA[]]></Value>
    </headKeywords>
    <headSocialShareImage>
      <Value><![CDATA[]]></Value>
    </headSocialShareImage>
    <headTitleAndDescription>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Not Found"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "title": "Not found"
}]]></Value>
    </headTitleAndDescription>
    <sitemapHiddenSitemap>
      <Value><![CDATA[1]]></Value>
    </sitemapHiddenSitemap>
    <sitemapHiddenTheirChildren>
      <Value><![CDATA[1]]></Value>
    </sitemapHiddenTheirChildren>
    <sitemapStopInternalLinksBeingFollowed>
      <Value><![CDATA[1]]></Value>
    </sitemapStopInternalLinksBeingFollowed>
    <sitemapXmlChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapXmlChangeFrequency>
    <sitemapXmlPriority>
      <Value><![CDATA[]]></Value>
    </sitemapXmlPriority>
  </Properties>
</Content>