<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b95e2c2-4845-4c0a-a702-322c484326c1" Alias="Sites" Level="2">
  <Info>
    <Parent Key="c24dd63e-d650-46ab-bb34-0554df38aed9">uTPro</Parent>
    <Path>/uTPro/Sites</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFolderSites</ContentType>
    <CreateDate>2025-02-25T14:13:59</CreateDate>
    <NodeName Default="Sites">
      <Name Culture="en-US">Sites</Name>
      <Name Culture="vi-VN">Sites</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="vi-VN">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteName>
      <Value Culture="en-US"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "uTPro helps you create websites quickly and easily with a flexible open source platform optimized for all business needs.",
  "title": "uTPro"
}]]></Value>
      <Value Culture="vi-VN"><![CDATA[{
  "excludeTitleSuffix": false,
  "noIndex": false,
  "description": "uTPro gi\u00FAp b\u1EA1n t\u1EA1o website nhanh ch\u00F3ng, d\u1EC5 d\u00E0ng v\u1EDBi n\u1EC1n t\u1EA3ng m\u00E3 ngu\u1ED3n m\u1EDF linh ho\u1EA1t v\u00E0 t\u1ED1i \u01B0u cho m\u1ECDi nhu c\u1EA7u kinh doanh",
  "title": "uTPro"
}]]></Value>
    </siteName>
  </Properties>
</Content>